
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header animated bounceInDown">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">AvaLunchs</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        
		<span class="logo">
                  <i class="glyphicon glyphicon glyphicon glyphicon-list"></i>
                  <span>Ava</span>Lunchs
                  <small> 0.1 Alfa</small>
        </span>
      </a>
    </div>
		 	  	 
	  <div class="navbar-collapse collapse" ng-controller="ModalCtrlMyAcount">    	 	
	
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-header pull-right" role="navigation">
		  <a href="" class="btn btn-sm btn-warning nav-button-margin" ng-click="openDownLoad('sm')"> <i class="glyphicon glyphicon-download"></i>&nbsp;Descargar apk</a>
          <a target="_blank" href="https://github.com/jcordero-git/Food-Providers/issues" class="btn btn-sm btn-warning nav-button-margin"> <i class="glyphicon glyphicon-plus"></i>&nbsp;Issues</a>
          <a target="_blank" href="https://github.com/jcordero-git/Food-Providers/" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-cloud-download"></i>&nbsp;GIT</a>
          <!--<a  ng-click="LogOut()" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-off"></i>&nbsp;Salir ( {{username}} )  </a>-->		 
       
		<div class="btn-group nav-button-margin" >
			  <button type="button" class="btn btn-sm btn-primary" ng-click="open('sm')"><i class="glyphicon glyphicon-user"></i> ( {{username}} )</button>
			  <button type="button" class="btn btn-sm btn-primary dropdown-toggle">
				<span class="caret"></span>
				<span class="sr-only">Split</span>
			  </button>
			  <ul class="dropdown-menu" role="menu" >
				<!--<li><a ng-click="open('sm')"> <i class="glyphicon glyphicon-user"></i> Mi Cuenta</a></li>-->				
				<li><a  ng-click="LogOut()"> <i class="glyphicon glyphicon-off"></i> Salir</a></li>				
			  </ul>
		</div>
	   </div>	    
      </ul>

	   </div><!--/.nav-collapse -->
	   	  
	</div>
</div>
<!--/.nav-bar -->

<!-- MODALS -->
	<div >
					<script type="text/ng-template" id="myModalContentAcount.html">
						<div class="modal-header">
							<h3 class="modal-title">Mi Cuenta</h3>
							</div>
	        <div class="modal-body">				
								 <div class="row" ng-controller="UploadCtrl">
									 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  ">
										<div class="row">			
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">				  
								            <img class="thumbnail img-responsive" style="width: 100%; height:250px" ng-src="{{imgUserName}}"/>											  
											</div>											
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">											
											 <input class="nav-button-margin" style="width: 100%;" type="file" ng-file-select="onFileSelect($files)">
											
											</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											 <div class="progress nav-button-margin">
											  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{progressBarValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBarValue}}%">
												<span class="sr-only">{{progressBarValue}}% Complete (success)</span> {{progressBarValue}} %
											  </div>
											</div>
									    </div>
										</div>	
									  </div>									 
								 
								    <div class="col-xs-6 col-sm-6 col-md-6  col-lg-6">
									 <div class="row">
									 
									  <div class="col-lg-12">									  
										<div class="input-group ">
										  <input type="text" ng-model="user.username" placeholder="Nombre de Usuario" class="form-control nav-button-margin" ng-required="user.menuname" username>
										</div><!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									  <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="text" ng-model="user.email" placeholder="Email" class="form-control nav-button-margin" ng-required="user.email" required>
										</div>
										<!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="password" ng-model="user.password" placeholder="Contrasena Actual" class="form-control nav-button-margin" ng-required="user.password" required>
										</div>
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="password" ng-model="user.newpassword" placeholder="Nueva Contrasena" class="form-control nav-button-margin" ng-required="user.newpassword" required>
										</div>
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="password" ng-model="user.confpassword" name="confpassword" placeholder="Confirma Contrasena" class="form-control nav-button-margin" ng-required="user.confpassword" required>
										</div>
									</div>
									
								 </div><!-- /.col-lg-6 -->
								 </div>
							  </div><!-- /.row -->				
							</div>
	        <div class="modal-footer">
				<button class="btn btn-primary btn-sm" ng-click="ok()">Aceptar</button>
				<button class="btn btn-warning btn-sm" ng-click="cancel()">Cancelar</button>
			</div>
		</script>				
	</div>


	<div >
		<script type="text/ng-template" id="myModalContentDownLoad.html">
			<div class="modal-header">
				<h3 class="modal-title">Descargar apk</h3>
			</div>
	        <div class="modal-body">				
				 <div class="row">								 
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
					<img class="thumbnail img-responsive" style="width: 100%;" ng-src="http://186.176.231.166:8090/app/img/QR.png"/>	
					</div>
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
					 
					<div class="row alert alert-success btn-button-margin">
					    <div class="col-sm-12">
							<span class="logo">
								<span>Ava</span>Lunchs
								<small> 0.1 Alfa</small>
						    </span>
						</div>	
						<div class="col-sm-12" style="color: black;">
							<span class="success ">Avantica Technologies</span>
						</div>
						<div class="col-sm-12" style="color: black;">
						<span class="success "><h4>SQA Project - Avalunchs</h4></span>
						</div>
						
						<div class="col-sm-12" style="color: black;">
						<span class="success ">Sistema web para realizar pedidos de almuerzos online</span>
						</div>
						 <a href="http://files.appsgeyser.com/Avalunchs.apk"  style="width: 100%;" class="btn btn-lg btn-success btn-button-margin pull-right"> <i class="glyphicon glyphicon-download"></i>&nbsp;Descargar</a>	
					</div>					 					 									
					</div>
				 </div>
			</div>
	        <div class="modal-footer">
				<button class="btn btn-warning btn-sm" ng-click="cancel()">Cerrar</button>
			</div>
		</script>				
	</div>

	


<!-- container -->
<div class="container">
 
  <div ng-show="OrderPanel" ng-init="OrderPanel=true" class="animated " ng-include src="'partials/order.html'"></div>

  <div ng-show="MyAcountPanel" class="animated bounceIn" ng-include src="'partials/menu.html'"></div>

<!-- footer -->
<div class="col-sm-12">
    <div class="footer">
      <small>
		<p class="lightText">
		&copy; AvaLunchs SQA Project Liberia 2014
		</p>
	  </small>
	  
	  
    </div>
</div>
<!-- footer -->

</div> 
<!-- /container -->