
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">AvaLunchs</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <small>
          <i class="glyphicon glyphicon glyphicon glyphicon-list"></i>
          AvaLunchs 0.1
        </small>
      </a>
    </div>
    <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">( {{username}} ) <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" ng-controller="ModalCtrlMyAcount">
		  <li><a ng-click="open('sm')"> <i class="glyphicon glyphicon-user"></i> Mi Cuenta</a></li>	  		  
            <!--<li><a> <i class="glyphicon glyphicon-user"></i> Mi Cuenta</a></li>	-->
			
            <li class="divider"></li>
            <li><a  ng-click="LogOut()"> <i class="glyphicon glyphicon-off"></i> Salir</a></li>
          </ul>
        </li>
      </ul>  	 
	  
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-header pull-right" role="navigation">
          <a target="_blank" href="https://github.com/jcordero-git/Food-Providers/issues" class="btn btn-sm btn-warning nav-button-margin"> <i class="glyphicon glyphicon-plus"></i>&nbsp;Issues</a>
          <a target="_blank" href="https://github.com/jcordero-git/Food-Providers/" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-cloud-download"></i>&nbsp;GIT</a>
          <!--<a  ng-click="LogOut()" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-off"></i>&nbsp;Salir ( {{username}} )  </a>-->
		  
        </div>
      </ul>
	  
	 
	  
    </div><!--/.nav-collapse -->
  </div>
</div>
<!--/.nav-bar -->

<!-- MODALS -->
	<div >
					<script type="text/ng-template" id="myModalContentAcount.html">
						<div class="modal-header">
							<h3 class="modal-title">Mi Cuenta</h3>
							</div>
	<div class="modal-body">				
								 <div class="row">
									 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  ">
										<div class="row" flow-init>			
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">												
													 <img style="width: 100%; height:200px" flow-img="$flow.files[0]" />													
											</div>
											
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											
											  <span class="btn btn-sm btn-danger nav-button-margin" style="width: 100%;" flow-btn> <i class="glyphicon glyphicon-upload"></i> Seleccionar Imagen</span>
											  
											  <a class="btn btn-small btn-success nav-button-margin" style="width: 100%;" ng-click="$flow.resume()">Cargar Imagen</a>
											  <span class="label label-info" style="width: 100%;">Se esta cargando: {{$flow.isUploading()}}</span>								  											  
											  <table>
												<tr ng-repeat="file in $flow.files">
													<td>{{$index+1}}</td>
													<td>{{file.name}}</td>
													<td>{{file.msg}}</td>
												</tr>
											  </table>
											
											
											</div>		
										</div>	
									  </div>									 
								 
								    <div class="col-xs-6 col-sm-6 col-md-6  col-lg-6">
									 <div class="row">
									  <div class="col-lg-12">									  
										<div class="input-group ">
										  <input type="text" ng-model="user.username" placeholder="Nombre de Usuario" class="form-control nav-button-margin" ng-required="user.menuname" username>
										</div><!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									  <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="text" ng-model="user.email" placeholder="Email" class="form-control nav-button-margin" ng-required="user.email" required>
										</div>
										<!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="text" ng-model="user.password" placeholder="Contrasena Actual" class="form-control nav-button-margin" ng-required="user.password" required>
										</div>
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="text" ng-model="user.newpassword" placeholder="Nueva Contrasena" class="form-control nav-button-margin" ng-required="user.newpassword" required>
										</div>
									  </div><!-- /.col-lg-6 -->
									   <div class="col-lg-12 ">
									  </div>
									  <div class="col-lg-12">
										<div class="input-group">
										  <input type="text" ng-model="user.confpassword" placeholder="Confirma Contrasena" class="form-control nav-button-margin" ng-required="user.confpassword" required>
										</div>
									</div>
								 </div><!-- /.col-lg-6 -->
								 </div>
							  </div><!-- /.row -->				
							</div>
	<div class="modal-footer">
				<button class="btn btn-primary btn-sm" ng-click="ok()">Aceptar</button>
				<button class="btn btn-warning btn-sm" ng-click="cancel()">Cancelar</button>
			</div>
		</script>				
	</div>




<!-- container -->
<div class="container">
 
  <div ng-show="OrderPanel" ng-init="OrderPanel=true" class="animated bounceIn" ng-include src="'partials/order.html'"></div>

  <div ng-show="MyAcountPanel" class="animated bounceIn" ng-include src="'partials/menu.html'"></div>

<!-- footer -->
<div class="col-sm-12">
    <div class="footer">
      <small><p class="lightText">&copy; AvaLunchs SQA Project Liberia 2014</p></small>
    </div>
</div>
<!-- footer -->

</div> 
<!-- /container -->