
<div class="widget-box" id="recent-box"  ng-controller="listController" >
	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-sm-4">
				<h4 class="bigger lighter">
					<i class="glyphicon glyphicon-align-justify"></i>&nbsp;
					Lista
				</h4>

			</div>
			
			
			<div class="col-sm-4">
			<div class="row header-elements-margin " ng-controller="DatepickerDemoCtrl" >
				<div >
					<p class="input-group">
					  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="dateChange()" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					  <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					  </span>
					</p>
				</div>
			</div>
			
			</div>
			
			<div class="col-sm-4">
				<input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Filtrar datos">
			</div>
			
			
	 </div>
	</div>
	<div class="widget-body ">
		<form ng-init="addNewClicked=false; " id="newTaskForm" class="add-task">
			<div class="form-actions">
				<div class="input-group">
					<input ng-disabled="!checkTime()" type="text" ng-model="taskInput" placeholder="Digite..." name="comment" typeahead="c as c.menuname for c in menu1 | filter:$viewValue | limitTo:5" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' class="form-control" ng-required="taskInput" required>

					<!--<input type="text" class="form-control" name="comment" ng-model="taskInput" placeholder="Add New Task" ng-focus="addNewClicked">-->
					<!--<autocomplete ng-model="taskInput" ng-focus="addNewClicked" attr-input-class="form-control" attr-placeholder="Digite su seleccion del menú" name="comment" click-activation="true" data="movies" on-type="doSomething" ng-required="true"></autocomplete>-->
					<div class="input-group-btn">
						<button class="btn btn-danger" type="submit" ng-disabled="!taskInput" ng-click="taskInput !== '' ? RegisterList(username,taskInput) : alert('failed')"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;</button>
					</div>
				</div>
			</div>
			<br>
			<div class="alert alert-warning" ng-show="!taskInput.length && checkTime()">
				<strong>Advertencia!</strong> Por favor has tu elección!. 
			</div>
			<div class="alert alert-danger" ng-show="!checkTime()">
				<strong>Información!</strong> La suscripción al pedido se ha cerrado!. 
			</div>
		</form>
		<div class="task" >		
		  <div class="table-responsive">
			<table class="table" ng-animate="animate">
			  <tbody>
				<tr class="danger">	
				  <td></td>
				  <td>Nombre</td>
				  <td>Plato</td>
				  <td>Fecha / Hora</td>
				  <td style="text-align:right">Opción</td>
				</tr>  
				<tr ng-repeat="task in tasks | filter : filterTask">				  
				  <td><img class="thumbnail img-responsive" style="width: 40px; height:40px" ng-src="http://192.168.0.124:3000/images/{{task.username}}.jpg"/></td>
				  <td>{{task.username}}</td>
				  <td>{{task.menuname}}</td>				  
				  <td>{{task.date}}</td>
				  <td><a ng-show="checkTime(username,task.username)" ng-click="deleteTask(task._id)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
				  </td>				  
				</tr>                  
			  </tbody>
			</table>
		 </div>			
		</div>
	</div>
</div>