
<div class="widget-box" id="recent-box"  ng-controller="listController" >


<div> 

</div>



	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<h4 class="bigger lighter">
					<i class="glyphicon glyphicon-align-justify"></i>&nbsp;
					Lista
				</h4>

			</div>						
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-controller="DatepickerDemoCtrl" style="color: black;">
			<!--<div class="row header-elements-margin "  >-->
				<div class="" >
					<p class="input-group header-elements-margin">
					  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="dateChange()" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					  <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					  </span>
					</p>
				</div>
			<!--</div>-->
			
			</div>
			
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Filtrar datos">
			</div>
			
			
	 </div>
	</div>
	<div class="widget-body ">
		<form ng-init="addNewClicked=false; " id="newTaskForm" class="add-task">
			<div class="form-actions">
				<div class="input-group">
					<input ng-disabled="!checkTime()" type="text" ng-model="taskInput" placeholder="Por favor has tu elección aquí!" name="comment" typeahead="c as c.menuname for c in menu1 | filter:$viewValue | limitTo:5" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' class="form-control" ng-required="taskInput" required>

					<!--<input type="text" class="form-control" name="comment" ng-model="taskInput" placeholder="Add New Task" ng-focus="addNewClicked">-->
					<!--<autocomplete ng-model="taskInput" ng-focus="addNewClicked" attr-input-class="form-control" attr-placeholder="Digite su seleccion del menú" name="comment" click-activation="true" data="movies" on-type="doSomething" ng-required="true"></autocomplete>-->
					<div class="input-group-btn">
						<button class="btn btn-danger" type="submit" ng-disabled="!taskInput" ng-click="taskInput !== '' ? RegisterList(taskInput) : alert('failed')"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;</button>
					</div>
				</div>
			</div>
			<br>
			<div class="alert alert-success" ng-show="callMadeLabel">
				<strong>Información!</strong> La llamada ha sido realizada por: {{caller}} 
			</div>
			<div class="alert alert-danger" ng-show="!checkTime()">
				<strong>Información!</strong> La suscripción al pedido se ha cerrado!. 
			</div>
		</form>
		<div class="task" >		
		  <div class="table-responsive">
			<table class="table" ng-animate="animate">
			  <tbody>
				<tr class="danger">	
				  <td></td>
				  <td>Nombre</td>
				  <td>Plato</td>
				  <td>Fecha / Hora</td>
				  <td style="text-align:right"></td>
				</tr>  
				<tr ng-repeat="task in tasks | filter : filterTask">				  
				  <td>
				  <img class="thumbnail img-responsive" style="width: 40px; height:40px" ng-src="http://localhost:3000/images/{{task.idUser}}.jpg" err-src="http://localhost:8080/app/img/default_user.png" custom-popover popover-html="<img class='thumbnail img-responsive' style='width: 400px; height:250px' src='http://localhost:3000/images/{{task.idUser}}.jpg'/>"  popover-placement="right" popover-label="Imagen">
				  </img>				  
				  </td>
				  <td>{{task.username}}</td>
				  <td>{{task.menuname}}</td>				  
				  <td>{{task.date}}</td>
				  <td><a ng-show="checkTime(username,task.username)" ng-click="deleteTask(task._id)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
				  </td>				  
				</tr>                  
			  </tbody>
			</table>
		 </div>			
		</div>
	</div>
	<div class="pull-right">
	<a href="" ng-disabled="callMadeButton" ng-show="isCaller " class="btn btn-sm btn-success nav-button-margin" ng-click="callMadeBtn()"> <i class="glyphicon glyphicon-earphone"></i>&nbsp;Llamada Realizada!!!</a>
	</div>
</div>