
 <div ng-controller="menuController">
   <div>
    <h4>Menú del almuerzo!</h4>
    <p>Telefono: <a class="danger">8703-1359</a>, Este es el número de "Mi comida Express".</p>   
	<p>
		<code>La hora de llamada es {{DueHour}}:00 am</code>
	</p>	
  </div>

<div class="widget-box" id="recent-box" >
	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-xs-8 col-sm-9 col-md-10 col-lg-7 ">
				<h4 class="bigger lighter">
					<i class="glyphicon glyphicon-align-justify"></i>&nbsp;
					Menú del día
				</h4>

			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 col-lg-5">
				  <div ng-controller="ModalCtrl">
					<script type="text/ng-template" id="myModalContent.html">
						<div class="modal-header">
							<h3 class="modal-title">Agregar Platillo</h3>
							</div>
							<div class="modal-body">				
								 <div class="row">
									  <div class="col-lg-6 ">
										<div class="row" ng-controller="UploadDishCtrl">			
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">				  
								            <img class="thumbnail img-responsive" style="width: 100%; height:250px" ng-src="{{imgDish}}"/>											  
											</div>											
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">											
											 <input ng-show="DishSaved" class="nav-button-margin" style="width: 100%;" type="file" ng-file-select="onFileSelect($files, idMenu)">
											
											</div>
												
										</div>	
									  </div><!-- /.col-lg-6 -->
									  <div class="col-lg-6">
									  <div class="input-group header-elements-margin">
										  <span class="input-group-addon">
											Platillo
										  </span>
										  <input type="text" ng-model="newMenu.menuname" placeholder="Digite..." class="form-control" ng-required="newMenu.menuname" required>
										</div><!-- /input-group -->
									  
									  
										<div class="input-group header-elements-margin">
										  <span class="input-group-addon">
											Precio ₡
										  </span>
										  <input type="text" ng-model="newMenu.price" placeholder="Digite..." class="form-control" ng-required="newMenu.price" required>
										  <span class="input-group-addon">.00</span>
										</div><!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									</div><!-- /.row -->				
							</div>
							<div class="modal-footer">
								<button  class="btn btn-primary btn-sm" ng-click="ok()">Aceptar</button>
								<button ng-disabled="OnlyAceptClicked" class="btn btn-primary btn-sm" ng-click="okAndClose()">Aceptar y Cerrar</button>
								<button class="btn btn-warning btn-sm" ng-click="cancel()">Cerrar</button>
							</div>
						</script>
						<a class="btn btn-right btn-sm btn-warning header-elements-margin" ng-click="open('sm')"> 
							<i class="glyphicon glyphicon-plus">
							</i>&nbsp;Agregar platillo
						</a>		
						</div>
			</div>
		</div>
	</div>
	<div class="widget-body">	
	
		<div class="task" >		
		  <div class="table-responsive">
		  
		  <table class="table">
			  <tbody>
				<tr class="warning">
				  <td></td>
				  <td></td>
				  <td>Plato</td>
				  <td>Precio</td>
				  <td></td>
				</tr>  
				<tr ng-repeat="menu in datamenu.menu">
				  <td>
				  <a ng-show="checkTime()" class="pull-left" ng-click="SelectMenu(menu)">
				  <i class="glyphicon glyphicon-check"> </i>
				  </a>
				  </td>
				  <td>				  
				  <div ng-controller="ModalCtrl">
					<script type="text/ng-template" id="imgModal.html">
						<div class="modal-header">
							<h3 class="modal-title">Imagen del Platillo</h3>
							</div>
							<div class="modal-body">				
								 <div class="row">	
									
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">				  
								            <img class="thumbnail img-responsive" style="width: 100%; height:100%" ng-src="http://localhost:3000/images/Dish/{{idMenu}}.jpg"/>											  
											</div>			
									</div><!-- /.row -->				
							</div>
							<div class="modal-footer">
								<button  class="btn btn-primary btn-sm" ng-click="ok()">Aceptar</button>
							</div>
						</script>
						<a class="" ng-click="openImgModel('sm', menu._id )"> 
						<i class="glyphicon glyphicon-eye-open">
						</i>
						</a>		
				</div>
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  </td>
				  <td>{{menu.menuname}}</td>
				  <td>{{menu.price}}</td>
				  <td><a ng-show="true" ng-click="deleteMenu(menu._id)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
				  </td>
				</tr>                  
			  </tbody>
			</table>		
					
		 </div>			
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
	</div>
	
	
	
	
	
</div>
</div>