
<div class="row">
 <div class="col-sm-12 col-md-12 col-lg-7 ">
  <div class="animated bounceInLeft">
    <div>
      <h4>Instrucciones de Uso</h4>
      <p>
	  Seleccione el plato que desea, si no desea el platilo borrelo haciendo click sobre el icono respectivo.<br>       		
      </p>
     </div>
   </div>
   <div class="animated bounceInLeft" ng-include src="'partials/list.html'"></div>
 </div>
 
  <div class="col-sm-12 col-md-12 col-lg-5  "> 
	<div class="animated bounceInRight" ng-include src="'partials/menu.html'"></div> 
</div>
</div>
