 <div class="col-sm-8">
          <div class="animated bounceInLeft">
            <div>
              <h4>Importantes Instrucciones</h4>
              <p>Seleccione el plato que desea <code>Importante!</code>, si no desea el platilo borrelo haciendo click sobre el icono respectivo.<br>
                <small>
                 El registro será guardado con la fecha y hora: {{date | date:'yyyy-MM-dd HH:mm'}} </small></p>
               </div>
             </div>
             <div class="animated bounceIn" ng-include src="'partials/menu.html'"></div>
           </div>
 <div class="col-sm-4">
            <div class="animated bounceInRight">
             <div>
              <h4>Menú del almuerzo!</h4>
              <p>Telefono: <a class="danger">8703-1359</a>, Este es el número de "Mi comida Express". Por favor respetemos el horario y hagámonos responsables.</p>
              <code>La hora de llamada es 11:00 am</code>
              <br />
            </div>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Pescado empanizado.</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Pescado al ajillo.</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Filete de pollo a la plancha</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Pollo sudado.</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Bistec de res encebollado.</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Carne desmechada (Mexicana)</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Carne en trocitos.</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Costilla de cerdo frita.</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>Arroz con pollo. (Opcional, Preguntar)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
