<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  <!--{{ 'Current version is v%VERSION%.' | interpolate }} -->
  
</p>
 <h1>{{dataValue}}</h1>


<table>
    <thead>
      <tr><th colspan="4">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>	
		<tr ng-repeat="driver in driversList">
				<td>{{$index + 1}}</td>
				<td>
				  {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
				</td>
				<td>{{driver.Constructors[0].name}}</td>
				<td>{{driver.points}}</td>
		</tr>
	</tbody>
 </table>
   
 <!--<h1> Phone ID Web Service: {{ mainImageUrl }};-->

 <table>
    <thead>
      <tr><th colspan="4">Drivers Championship WEB SERVICE</th></tr>
    </thead>
    <tbody>	
		<tr ng-repeat="user in userList">
				<td>{{$index + 1}}</td>
				<td>
				  {{user.id}}&nbsp;{{user.content}}
				</td>
		</tr>
	</tbody>
 </table>
 
 <h3>AngularJS GitHub Issues</h3>
<table class="table table-striped">
  <tr>
    <th>Number</th>
    <th>State</th>
  </tr>
  <tr ng-repeat="issue in datau.usersweb">
    <td>{{$index + 1}}</td>
    <td>{{issue.username}}</td>
    <td>{{issue.password}}</td>
  </tr>
</table>
